# Виртуальное окружение
venv/
.venv/
env/

# Кэш Python
__pycache__/
*.pyc

# PyInstaller
build/
dist/
*.spec.bak

# Переменные окружения и секреты
.env

# Настройки редакторов
.vscode/
.idea/

# Local secrets
secrets.txt
